<div style='margin: 50px 100px 100px 150px;'>
  <% if @visitor %>
    Hello <%= @visitor %>
  <% end %>

  <% if @name %>
    <p style='text-align: center ; font-family: Helvetica'>My name is <%= @name %></p>
  <% end %>
    <img src='http://bit.ly/1eze8aE' width = 1000px>
</div>